<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Enosh Lartey</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>

<body>
    <nav id="navigation">
        <div class="logo">
            <a target="_blank" href="https://enoshlartey.xyz">E.L. </a>
        </div>
        <div class="nav-list">
            <ul class="nav-items">
                <li>
                    <a href="../../index.html">Home</a>
                </li>
                <li>
                    <a href="./about.html">About</a>
                </li>
                <li>
                    <a href="./projects.html">Projects</a>
                </li>
                <li>
                    <a href="./contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="body-content">
        <div class="header">
            <h3 class="welcome-header">About Me</h3>
        </div>

        <div class="about-me">
            <p class="about-me-text">I am a software developer with a passion for creating and building software
                solutions. I am a
                self-taught developer with a background in computer science. I have experience in building web
                applications
                using technologies such as HTML, CSS, JavaScript, React, Node.js, and Express. I am also familiar with
                databases such as MongoDB and MySQL. I am always looking to learn new technologies and improve my skills
                as a
                developer.
            </p>
        </div>

        <div class="contact-me">
            <a href="./projects.html" class="contact-me-button">Projects</a>
            <a href="./contact.html" class="contact-me-button">Contact Me</a>
        </div>
    </div>
</body>

</html>